# -- LLM Model configuration --
LITELLM_BASE_URL='https://your-litellm-service-url'
LITELLM_API_KEY='sk-your-litellm-api-key'

# -- Web Search Tool configuration --
TAVILY_API_KEY='tvly-your-tavily-api-key'

# -- LangSmith configuration (agent observability) --
LANGSMITH_API_KEY='ls..._your-langsmtih-api-key'
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=langsmith-agent-tools-demo